{% extends 'Layout.html' %}
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Definition</th>
            <th>Delete?</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>
                <form action="/delete" method="post">
                <input type="hidden" name="item_name" value="{{item[0]}}">
                <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
    <form action="/add" method="post">
    <h2>Enter a new item</h2>
    <input type="text" name="item_name">
    <input type="text" name="item_definition">
    <input type="submit" value="add">
    </form>
{% endblock %}
